*{
    margin: 0;
}

.section1{
    
    
    background: linear-gradient(
    to bottom,
    rgba(224, 224, 224, 0),
    rgba(0, 0, 0, 1)
  ),
  url('resources/Banner\ Image.png');
    background-repeat:no-repeat;
    background-position: center center;
    width: 1320px;
    height: 600px;
    margin: 80px auto;
    border-radius: 16px;
}

.section1text {
    color: blanchedalmond;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 35%;
    left: 35%;
    font-size:xx-large;
    font-family: Merriweather;
}

/* ........... */


.section2text{
    text-align-last: center;
    margin: 60PX auto;
}

.section2text h1{
    font-size: 100px;
    color: red;
}
.section2text h4{
    color: red;
}


.section2img{
    margin: 7% 25%;
}

/* ................. */

.section3{
    
    background: linear-gradient(
    to bottom,
    rgba(224, 224, 224, 0),
    rgba(0, 0, 0, 1)
  ),
  url('resources/Vectorrr.png');
    background-repeat:no-repeat;
    background-position: center center;
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    border-radius: 16px;
}

.newyeardate{
    position: relative;
    left: 65%;
    bottom: 60%;

}

.section3text {
    color: blanchedalmond;
    padding-top: 14% ;
    margin-left: 10%;
    font-size:xx-large;
    font-family: Merriweather;
}

.section3text p{
    font-family: Inter;
font-size: 18px;
}
.btn{
    padding: 10px 10px;
    border-radius: 5px;
}
.btn:hover{
   color : #000;
    background: goldenrod;

}

/* ................... */

.section4{
    text-align: center;
    /* border: solid; */
    height: 80%;
    width: 70%;
    padding: 100px 100px;
    margin: 8% auto;
    font-size: 32px;
    background-image: linear-gradient(rgb(238, 219, 219), rgb(227, 227, 227));
    border-radius: 10px;
    gap: 10px;
}

.joinbtn{
    padding: 15px 20px;
    border-radius: 5px;
    background: red;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

/* ................... */
.section5{
    margin-top: 70px;
    margin-right: 40px;
}
.section5part{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 8% 8%;
}

.part1text>h1,.part3text>h2{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.part2img{
    position: relative;
    border: 20px solid red;
    border-radius: 50%;
    padding: 40px;

}


/* ................. */

.section6{
    text-align: center;
    margin-top: 150px;
}
.section6>h2{
    font-family: Arial, Helvetica, sans-serif;
}
.section6>h1{
    font-size: 90px;
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.section6>p{
    color:grey;
}

/* ........................... */

.section7{
    height: 1600px;
    /* padding: 0px 0px ;
    margin: 0px 0px; */
}
.img2lady{
    position: relative;
  

}
.img3red{
    position: relative;
    left:130px;
    right: 711px;
    bottom: 315px;
   
}
.img4offer{
    position: relative;
    bottom: 370px;
    right: 150px;

}

.ladyandoffer{
    position: relative;
    left: 1020px;
   
}

.surprisebox{
  position: relative;
  bottom:-500px;
  left: 80px;
   
}

/* ................... */

.section10{
    margin-left: 160px;
}
.section10text > h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section10text p{
    color: gray;

}

/* .fisrtrowimage .secondrowimage{
    padding: 20px;
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
 
}

.img:hover {
    opacity: 0.3;
} */

.images{
    display: flex;
    margin-right: 130px;
    
}


.fisrtrowimage .secondrowimage .thirdrowimage{
    margin: 10px;
}

.img{
    margin: 10px;
    width: 90%;
    height: 50%;

}
.img:hover{
    opacity: 0.3;
}


/* ............... */
.section8{
    /* border: solid tomato; */
    height: 80%;
    width: 70%;
    padding: 100px 100px;
    margin: 8% auto;
    background-image: linear-gradient(rgb(238, 219, 219), rgb(227, 227, 227));
}
.Newslettericon{
    margin: 0% 44%;
}
.section8text{
    text-align: center;
    font-size: x-large;
}
.section8text>p{
    color: gray;
}
.section8 .Subscribearea {
    margin-top: 30px;
    padding: 20px 35px;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
.subbtn{
    margin-top: 30px;
    padding: 20px 35px;
    color: antiquewhite;
    font-weight: 600;
    background: red;
    border-radius: 0px 50px 50px 0px;
    border: none;
}

.subbtn:hover{
    background: lightgreen;
}


/* ......................... */

.section9{
    /* border: solid salmon; */
    padding: 5% 7%;
    background: rgb(7, 12, 67);
    color: antiquewhite;
}

.fotterup,.fotterdown{
    display: flex;
    justify-content: space-between;
}

.icons {
    margin: 30px 510px;
   
}
.smallicon{
    display:inline;
}
