*{
    margin: 0;
}

.section1{
    
    background: linear-gradient(
    to bottom,
    rgba(224, 224, 224, 0),
    rgba(0, 0, 0, 1)
  ),
  url('resources/Banner\ Image.png');
    background-repeat:no-repeat;
    background-position: center center;
    width: 1320px;
    height: 600px;
    margin: 20px auto;
    border-radius: 16px;
}

.section1text {
    color: blanchedalmond;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 25%;
    left: 35%;
    font-size:xx-large;
    font-family: Merriweather;
}

/* ........... */


.section2text{
    text-align-last: center;
    margin: 60PX auto;
}

.section2text h1{
    font-size: 100px;
    color: red;
}
.section2text h4{
    color: red;
}


.section2img{
    margin: 0% 25%;
}

/* ................. */

.section3{
    
    background: linear-gradient(
    to bottom,
    rgba(224, 224, 224, 0),
    rgba(0, 0, 0, 1)
  ),
  url('resources/Vectorrr.png');
    background-repeat:no-repeat;
    background-position: center center;
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    border-radius: 16px;
}

.section3text {
    color: blanchedalmond;
    padding-top: 14% ;
    margin-left: 10%;
    font-size:xx-large;
    font-family: Merriweather;
}

.section3text p{
    font-family: Inter;
font-size: 18px;
}
.btn{
    padding: 10px 10px;
    border-radius: 5px;
}
.btn:hover{
   color : #000;
    background: goldenrod;

}

.section4{
    text-align: center;
    /* border: solid; */
    height: 80%;
    width: 70%;
    padding: 100px 100px;
    margin: 5% auto;
    font-size: 32px;
    background-image: linear-gradient(rgb(238, 219, 219), rgb(227, 227, 227));
    border-radius: 10px;
    gap: 10px;
}

.joinbtn{
    padding: 15px 20px;
    border-radius: 5px;
    background: red;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

/* ................... */

.section8{
    /* border: solid tomato; */
    height: 80%;
    width: 70%;
    padding: 100px 100px;
    margin: 5% auto;
    background-image: linear-gradient(rgb(238, 219, 219), rgb(227, 227, 227));
}
.Newslettericon{
    margin: 0% 44%;
}
.section8text{
    text-align: center;
    font-size: x-large;
}

.section8 .Subscribearea {
    padding: 20px 35px;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
.subbtn{
    padding: 20px 35px;
    color: antiquewhite;
    font-weight: 600;
    background: red;
    border-radius: 0px 50px 50px 0px;
    border: none;
}

.subbtn:hover{
    background: lightgreen;
}

.section9{
    /* border: solid salmon; */
    padding: 5% 7%;
    background: rgb(7, 12, 67);
    color: antiquewhite;
}

.fotterup,.fotterdown{
    display: flex;
    justify-content: space-between;
}

.icons {
    margin: 30px 510px;
   
}
/* .fotterdown{
     display: flex;
    justify-content: space-between;
} */